<!DOCTYPE html>
<html lang="en">
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">


<body>
    <header class="bg-black-90 w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
        <nav class="f6 fw6 ttu tracked tr">
            <a class="link dim white dib mr3" href="#" title="Home">Home</a>
            <a class="link dim white dib mr3" href="#" title="Github">Github</a>
            <a class="link dim white dib" href="#" title="Contact">Contact</a>
        </nav>
    </header>
    <div class="w-80 center ma4">
        <div class="w-100">
            <div class="bg-lightest-blue h5 flex flex-column justify-center w-third fl pa4">
                <p class="f1 ma0 tc">Welcome</p>
            </div>
            <div class="h5 flex flex-column justify-center tc w-two-thirds fl pa4">
                <p class="f1 ma0 tc">This is a temporary website for the Puddle project</p>
            </div>

        </div>
        <div class="w-100">
            <div class="bg-light-green h5 flex flex-column justify-center w-50 fl pa4">
                <div class="pa4 tc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div class="bg-washed-red h5 flex flex-column justify-center w-50 fl pa4">
                <div class="pa4 tc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <div class="h5 bg-light-yellow fl w-100 pa4">
            <p class="f2 ma0 tc">Installation</p>
            <pre>
$ something
$ something
$ something
            </pre>
        </div>
        <div class="w-100">
                <div class="h5 bg-light-gray fl w-two-thirds pa4">
                        <p class="f2 ma0 tc">Usage</p>
                        <pre>
$ something
$ something
$ something
                        </pre>
                </div>
                <div class="h5 bg-washed-green fl w-third pa4">
                        <p class="f2 ma0 tc">Contact Us</p>
                </div>
        </div>
    </div>
</body>

</html>
